# Copia este archivo como .env y rellena los valores

# API Key de Google Maps
# Habilita: Maps JavaScript API
# https://console.cloud.google.com/apis/credentials
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# Map ID (necesario para AdvancedMarker y vista vectorial 3D)
# Crea un Map ID en: https://console.cloud.google.com/google/maps-apis/studio/maps
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID=

# URL del backend (vista desde el navegador)
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000


# backend

LOG_LEVEL=DEBUG