# =======================================
# FRONTEND
# =======================================
# API Key de Google Maps
# Habilita: Maps JavaScript API
# https://console.cloud.google.com/apis/credentials
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# Map ID (necesario para AdvancedMarker y vista vectorial 3D)
# Crea un Map ID en: https://console.cloud.google.com/google/maps-apis/studio/maps
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID=

# URL del backend (vista desde el navegador)
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000


# =======================================
# BACKEND
# =======================================
LOG_LEVEL=DEBUG

# Database (PostgreSQL)
DB_HOST=db
DB_PORT=5432
DB_NAME=los_db
DB_USER=los
DB_PASSWORD=los_pass

EARTHDATA_USERNAME=
EARTHDATA_PASSWORD=

# =======================================
# PGADMIN
# =======================================
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin


# =======================================
# DB
# =======================================
POSTGRES_USER=los
POSTGRES_PASSWORD=los_pass
POSTGRES_DB=los_db