certifi==2021.10.8
charset-normalizer==2.0.12
geohelper==0.2.0
idna==3.3
numpy==2.4.4
requests==2.27.1
Shapely==2.1.2
urllib3==1.26.8


# sudo apt-get install -y libgeos-dev && pip install --force-reinstall shapely
