certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
numpy==2.4.4
Shapely==2.1.2
urllib3==1.26.8
fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlmodel==0.0.22
psycopg2-binary==2.9.10
tenacity==9.1.2
SRTM.py

# auth
pydantic-settings==2.7.0
email-validator==2.2.0

# dev
black
# sudo apt-get install -y libgeos-dev && pip install --force-reinstall shapely
